.parnet-cpntainer {
  margin-left: 25%;
  margin-right: 25%;
}
.input-section {
  margin-left: 25%;
  margin-right: 25%;
}
.s-input {
  width: 200px;
}
.s-btn {
  background-color: blue;
  color: white;
  border-style: none;
  border-radius: 7px;
  margin-left: 40px;
  height: 30px;
  width: 80px;
}

.card-conatiner {
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: 1px solid gray;
  border-radius: 7px;
  background-color: rgb(197, 233, 245);
  margin-bottom: 10px;
  margin-top: 10px;
}
